<div class="not-container">
  <div class="card" style="width: 400px">
    <div class="card-title">
      <div class="user-input">
        <input
          type="text"
          class="form-control"
          placeholder="Enter a City : London"
          [(ngModel)]="city"
        />
        <button type="button" class="btn btn-primary" (click)="getWeather()">
          <div *ngIf="!loaded && clicked">
            <i class="fas fa-spinner fa-spin"></i>
          </div>
          <div *ngIf="!clicked">GET</div>
        </button>
      </div>
    </div>
    <div *ngIf="weather">
      <div class="card-img">
        <div class="weather-main">
          <h3>{{ weather.city }}</h3>
          <h1>{{ weather.temperature }}&deg;c</h1>
          <p>
            <img
              [src]="weather.weather_icons"
              alt="icon"
              width="20px"
              height="20px"
            />
            {{ weather.weather_descriptions }}
          </p>
        </div>
      </div>

      <div class="card-body">
        <div>
          <p>
            <i class="fa-solid fa-temperature-quarter"></i
            >{{ weather.feels_like }}&deg;C
          </p>
          <small class="small-cap">feels like</small>
        </div>
        <div class="humidity">
          <p><i class="fa-solid fa-smog"></i>{{ weather.humidity }}%</p>
          <small class="small-cap">humidity</small>
        </div>
        <div class="cloud">
          <p><i class="fa-solid fa-cloud"></i>{{ weather.cloudcover }}%</p>
          <small class="small-cap">cloudcover</small>
        </div>
        <div class="wind">
          <p><i class="fa-solid fa-wind"></i>{{ weather.wind_speed }}km/hr</p>
          <small class="small-cap">wind</small>
        </div>
      </div>

      <button class="form-control btn btn-primary" (click)="getForecast()">
        Get Forecast for the next 5 days
      </button>
      <div class="card-deck" *ngIf="forecastWeather">
        <app-forecast-item
          *ngFor="let day of days; let i = index"
          class="forecast-day"
          [day]="day"
          [forecast]="forecastWeather[i]"
        ></app-forecast-item>
      </div>
    </div>
  </div>
</div>
